<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
  <head>
  <meta charset="utf-8">
  <title>WIKOD - Start</title>
  <%- include("./partials/head/head.ejs") %>
</head>

<%- include("./partials/animation/snowflakes.ejs") %>

<body class="d-flex h-100 text-center text-bg-dark">
  
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <%- include("./partials/header/header.ejs") %>

  <main class="px-3">
    <h1>Profesionaly transport chłodniczy</h1>
    <p class="lead">Transport żywności, leków, kwiatów i innych produktów wymagających utrzymania niskiej temperatury. 
      Dbamy o najwyższą jakość obsługi klientów, zapewniając terminowość dostaw, bezpieczeństwo ładunku. 
      Dysponujemy nowoczesną flotą pojazdów chłodniczych, wyposażonych w systemy monitoringu i kontroli temperatury.</p>
    <p class="lead">
      <a href="http://localhost:<%=port%>/features" class="btn btn-lg btn-light fw-bold border-white bg-white">Dowiedz się więcej</a>
    </p>
  </main>
  
  <%- include("./partials/footer/footer_v2.ejs") %>

  </div>
  <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <!-- <script src="js/menu.js" charset="utf-8"></script> -->
</body>
</html>