<header class="mb-auto">
    <div>
      
      <h3 class="float-md-start mb-0 headerTitle" href="http://localhost:3000/"><img src="images/logo1.png" width="40" height="40"/>  WIKOD</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 <%= activePage[0].className %>" aria-current=<%= activePage[0].aria %> id="0" href="http://localhost:3000/">Start</a>
        <a class="nav-link fw-bold py-1 px-0 <%= activePage[1].className %>" aria-current=<%= activePage[1].aria %> id="1" href="http://localhost:3000/features">Oferta</a>
        <a class="nav-link fw-bold py-1 px-0 <%= activePage[2].className %>" aria-current=<%= activePage[2].aria %> id="2" href="http://localhost:3000/orders">Zamówienia</a>
        <a class="nav-link fw-bold py-1 px-0 <%= activePage[3].className %>" aria-current=<%= activePage[3].aria %> id="3" href="http://localhost:3000/contact">Kontakt</a>
      </nav>
    </div>
  </header>